# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Data & Binary Files
final dataset.zip
*.csv
*.xlsx

# Power BI
olist_bi.pbix

# Python
venv/
env/
__pycache__/
*.pyc

# Environment Variables
.env
.env.local

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
